body{
    background-image: url("/img/fondo.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
table{
    background-color: rgb(172, 255, 255);
    border: 1px solid black;
}
header{
    background-color: #000000;
}
.imagen{

    left: 3%;
    width: 200px;
    border: none;
    float: left;
    margin-top: 5%;
    margin-left: 3%;

}
.img{
    width: 100%;
    height: 100%;
}
.imagen2{
    left: 3%;
    width: 200px;
    border: none;
    float: right;
    margin-top: 5%;
    margin-right: 3%;
}
.img2{
    width: 100%;
    height: 100%;
}
.titulo{
    text-align: center;
    text-decoration: underline;
}